<!DOCTYPE html>
{# Jinja comment: This is the basic html page that will be loaded #}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap & all custom css files => @import in main.js => file location in ./assets/css/[file_name] -->
        <title>Garage App</title>
    </head>
    <body>
        <div id="app"></div>
        <script src="/static/dist/app.js"></script>
    </body>
</html>

